<div class="container">
  <div class="col-md-3 mt-5 mx-auto d-block">
  <h1>Training diary</h1>
      <%= link_to "Log in", new_user_session_path, class: "btn btn-info my-3 mx-auto d-block"%>
      <%= link_to "Sign up",new_user_registration_path ,class: "btn btn-success my-3 mx-auto d-block"%>
  </div>
</div>


